body {
    margin: 0;
    font-family: Arial;
    background: #0f0f0f;
    color: white;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    background: black;
    padding: 12px;
    text-align: center;
}
.container {
    padding: 80px 15px;
    max-width: 500px;
    margin: auto;
}
.card {
    background: #181818;
    padding: 15px;
    border-radius: 10px;
}
button {
    width: 100%;
    padding: 14px;
    background: orange;
    border: none;
    margin-top: 6px;
}
input, textarea, select {
    width: 100%;
    max-width: 100%;
    display: block;
    background: #222;
    color: white;
}
.hidden { display: none; }

.note-privat {
    border-left: 4px solid gray;
}

.note-club {
    border-left: 4px solid dodgerblue;
}

.note-wichtig {
    border-left: 4px solid red;
    background: #2a0000;
}

.note-auftrag {
    border-left: 4px solid orange;
    background: #2a1a00;
}
.task-open {
    border-left: 4px solid orange;
}

.task-done {
    border-left: 4px solid green;
    opacity: 0.6;
}
