body {
    margin: 0;
    font-family: Arial;
    background: #0f0f0f;
    color: white;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    background: black;
    padding: 12px;
    text-align: center;
}
.container {
    padding: 80px 15px;
    max-width: 500px;
    margin: auto;
}
.card {
    background: #181818;
    padding: 15px;
    border-radius: 10px;
}
button {
    width: 100%;
    padding: 14px;
    background: orange;
    border: none;
    margin-top: 6px;
}
input, textarea, select {
    width: 100%;
    max-width: 100%;
    display: block;
    background: #222;
    color: white;
}
.hidden { display: none; }

.note-privat {
    border-left: 4px solid gray;
}

.note-club {
    border-left: 4px solid dodgerblue;
}

.note-wichtig {
    border-left: 4px solid red;
    background: #2a0000;
}

.note-auftrag {
    border-left: 4px solid orange;
    background: #2a1a00;
}
.task-open {
    border-left: 4px solid orange;
}

.task-done {
    border-left: 4px solid green;
    opacity: 0.6;
}

#secretaryScreen input,
#secretaryScreen textarea,
#secretaryScreen select {
    margin-top: 6px;
}

.warn-w1 {
    border-left: 5px solid gold;
    background: #2a2400;
}

.warn-w2 {
    border-left: 5px solid red;
    background: #2a0000;
}

.timeline-entry {
    border-left: 3px solid dodgerblue;
    margin-top: 6px;
    padding-left: 8px;
    font-size: 14px;
    opacity: 0.9;
}

.sec-entry {
    cursor: pointer;
    transition: 0.2s;
}
#secMeetings textarea,
#secMeetings input,
#secMeetings select {
  margin-top: 6px;
}

.sec-entry:hover {
    transform: scale(1.02);
}
